<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Honeycomb - Home</title>
    <link rel="stylesheet" href="application.css">
  </head>

  <body>
    <h1 id="main-title">HONEYCOMB</h1>
    <%= image_tag asset_path("curls.jpg"), class: "center_img" %>
  </body>
</html>
